* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --lightdark-bg: #080B12;
    --add-bg: #A3A3A3;
    --grey-text: #5F5F5F;
    --green-selected: #7EAA2B;
    --black-bg: black;
    --white-text: white;
    --main-bg: #141922;
    --footer-bg: #282828;
}

/* #region utilities */

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    height: 100vh;
}

.row {
    display: flex;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 9);
}

.col_10 {
    width: calc((100% / 12) * 10);
}

.col_12 {
    width: calc((100% / 12) * 12);
    height: 100%;
}


.btn {
    border: 1px solid var(--white-text);
    border-radius: 20px;
}

/* #endregion utilities */


/* #region column left */
.wrapper .col_2 {
    background-color: var(--black-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 80px);
    width: 200px;
    overflow-y: auto;
}

.image img,
.home_img,
.lens_img,
.library_img,
.name_opt,
.col_2 h4,
.col_2 p,
.playlist_section,
.install_account {
    padding: 0.2rem;
}

.col_2 h4,
.col_2 a,
.col_2 p {
    color: var(--grey-text);
}

.image img {
    width: 80%;
}

.home .name_opt,
.options h4 {
    color: var(--white-text);
}

.image,
.selected,
.add_playlist {
    display: flex;
    align-items: center;
}

.home_img,
.lens_img,
.library_img {
    width: calc((100% / 12) * 2);
    margin-right: 1rem;
}

.options h4 {
    margin-bottom: 1rem;
}


.add_playlist .plus {
    background-color: var(--add-bg);
    width: calc((100% / 12) * 2);
    aspect-ratio: 1 / 1;
    margin-right: 0.5rem;
    position: relative;
}

.add_playlist i {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add_playlist:hover .plus {
    background-color: var(--white-text);
    cursor: pointer;
    transition: 0.4s;
}

.add_playlist:hover p {
    color: var(--white-text);
    cursor: pointer;
    transition: 0.4s;
}

ul li {
    margin-bottom: 0.5rem;
}

ul li a {
    color: var(--grey-text);
}

.install_flex,
.account_flex {
    display: flex;
    align-items: center;
}

.install_flex {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--grey-text);
    margin-bottom: 0.5rem;
}

.arrow {
    width: calc((100% / 12) * 1);
    margin-right: 1rem;
    aspect-ratio: 1 / 1;
}

.arrow img {
    vertical-align: middle;
}

.install_account a:hover {
    cursor: pointer;
    transition: 0.4s;
    color: var(--white-text);
}

.profile {
    width: calc((100% / 12) * 1);
    margin-right: 1rem;
}

.profile img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--grey-text);
    vertical-align: middle;
}

.account_flex h4 {
    color: var(--white-text);
}

.col_2 .selected:focus {
    border-left: 6px solid var(--green-selected);
    color: var(--white-text);
}


.col_2 li a:hover {
    color: var(--white-text);
    transition: 0.4s;
    cursor: pointer
}

/* #endregion column */

/* #region column right */

.content {
    overflow-y: auto;
}

.col_10 {
    background-color: var(--main-bg);
    width: 100%;
}

/* #region notehead */

.notehead {
    background-color: var(--lightdark-bg);
    padding: 2rem;
    text-align: end;
    height: 70px;
}

.upgrade {
    color: var(--white-text);
    padding: 0.5rem 2rem;
}

.upgrade:hover {
    color: var(--lightdark-bg);
    background-color: var(--white-text);
    transition: 0.4s;
    cursor: pointer;
}

/* #endregion notehead */

/* #region nav */

#site_nav,
.directory {
    display: flex;
    justify-content: center;
}

.link {
    padding: 1rem;
    color: var(--grey-text);
}

.directory .selected {
    margin-bottom: 0;
}

.directory .selected:focus {
    border-bottom: 5px solid var(--green-selected);
    color: white;
}


.link:hover {
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

/* #endregion nav */

/* #region rows */

.content {
    height: calc(100vh - 150px);
}

.content h2 {
    padding: 0.5rem 1rem;
    color: var(--white-text);
    margin-bottom: 1rem;
    font-weight: 600;
}

.content .row {
    margin-bottom: 1rem;
}

.card {
    width: calc((100% / 12) * 2);
    padding: 0.5rem 1rem;
    text-align: center;
}

.card img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card_img {
    position: relative;
    margin-bottom: 0.5rem;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    aspect-ratio: 1 / 1;
    opacity: 0;
}

.card_img:hover .overlay{
    opacity: 1;
    cursor: pointer;
    transition: 0.4s;
}

.card_img i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    opacity: 0;
}

.card_img:hover i {
    opacity: 1;
    cursor: pointer;
}

.content h4 {
    color: var(--white-text);
    margin-bottom: 0.5rem;
}

.card p {
    color: var(--grey-text);
    font-size: 14px;
    font-style: italic;
}

.content p {
    color: var(--grey-text);
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}

.popular img,
.popular .overlay {
    border-radius: 50%;
}

/* #endregion rows */

/* #endregion column right */

/* #region footer */

#site_footer {
    background-color: var(--footer-bg);
    height: 80px;
    padding: 0.5rem;
    display: block;
}

#site_footer .col_3 {
    display: flex;
    align-items: center;
}

#site_footer .col_6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot_left,
.foot_right {
    display: flex;
    align-items: center;
    height: 100%;
}

.foot_center {
    flex-wrap: wrap;
}

.foot_left .foot_album,
.foot_left .heart_and_folder {
    width: calc((100% / 12) * 2);
    margin-right: 1rem
}

.foot_left .album_name {
    width: calc((100% / 12) * 4);
    margin-right: 1rem;
}

.foot_center .actions,
.foot_center .listening_time {
    width: calc((100% / 12) * 12);
    display: flex;
    justify-content: center;
}

.foot_center .actions {
    gap: 40px;
}

.foot_center .listening_time {
    justify-content: space-around;
    align-items: center;
}

.foot_right {
    justify-content: flex-end;
    width: 100%;
}

.actions i {
    font-size: 24px;
    color: var(--white-text);
}

.foot_right i {
    color: var(--white-text);
}

.listening_time {
    color: var(--white-text);
}

.listened_time,
.total_time {
    width: calc((100% / 12) * 1);
}

.icon_menu,
.icon_screen,
.volume_icon {
    width: calc((100% / 12) * 2);
}

.listened_bar {
    width: calc((100% / 12) * 8);
    height: 3px;
    display: flex;
}

.hearing {
    background-color: var(--white-text);
    width: calc((100% / 12) * 4);
    height: 100%;
}

.yet_to_hear {
    background-color: var(--grey-text);
    width: calc((100% / 12) *8);
    height: 100%;
}

.volume_bar {
    width: calc((100% / 12) * 5);
    height: 3px;
    display: flex;
}

.album_name h6 {
    color: var(--white-text);
}

.album_name h6:hover {
    font-size: 12px;
    transition: 0.4s;
    cursor: pointer;
}

.album_name a,
.heart_and_folder i {
    color: var(--grey-text);
}

.album_name a:hover {
    text-decoration: underline;
    color: var(--white-text);
    cursor: pointer;
    transition: 0.4s;
}

.heart_and_folder i:hover {
    transition: 0.4s;
    color: var(--white-text);
    cursor: pointer;
}

.foot_center i:hover,
.foot_right i:hover {
    transition: 0.4s;
    color: var(--green-selected);
    cursor: pointer;
}

.hearing {
    position: relative;
}

.hearing i {
    position: absolute;
    left: 100%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    display: none;
}

.hearing:hover {
    background-color: var(--green-selected);
    cursor: pointer;
    transition: 0.4s;
}

.hearing:hover i {
    display: block;
    color: var(--white-text);
}

/* #endregion footer */

@media screen and (max-width: 1100px) {
    .card {
        width: calc((100% / 12) * 3)
    }

    .albums .row {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .card {
        width: calc((100% / 12) * 6);
    }

    .albums .row {
        flex-wrap: wrap;
    }

    .directory {
        flex-wrap: wrap;
    }
}

